<script src="https://d3js.org/d3.v4.min.js"></script>

<div class="component">
    <div class="info">
        <div class="equation">
            <h2>y= A x<sup>2</sup>+ B x + C</h2>
            <h2><span> y= </span>{{valueInput.a}}<span> x<sup>2</sup>+ </span>{{valueInput.b}} <span> x+ </span>{{valueInput.c}}</h2>
            <div class="warning" *ngIf="warncheck">Pls input number (between-100&100)</div>
            <!-- valueA.data>100||valueA.data<-100||valueB.data>100||valueB.data<-100||valueC.data>100||valueC.data<-100 -->
        </div>
        
    
        <div class="input">
            <div>A<span>= </span>{{valueInput.a}}</div>
            <div>
                <label for="a">Value data: </label>
                <input (change)="valueChange(valueInput)" type="number" a="a" [(ngModel)]="valueInput.a" placeholder="a">
            </div>
    
            <div>B<span>= </span>{{valueInput.b}}</div>
            <div>
                <label for="b">Value data: </label>
                <input  (change)="valueChange(valueInput)" type="number" b="b" [(ngModel)]="valueInput.b" placeholder="b">
            </div>
    
            <div>C<span>= </span>{{valueInput.c}}</div>
            <div>
                <label for="c">Value data: </label>
                <input  (change)="valueChange(valueInput)" type="number" c="c" [(ngModel)]="valueInput.c"  placeholder="c">
            </div>
        </div>

        <div class="graph">
            <h2>GRAPH</h2>
            <div id="container"></div>
        </div>
    </div>

</div>


